/* custom styles */

/*
main{
    padding-top:3rem;
    padding-bottom: 2rem;
}

html,
body,
.view{
    height: 80%;
    background-color: #F5F8F9;

}

.view{
    background:url("https://firebasestorage.googleapis.com/v0/b/sample-d269e.appspot.com/o/back1.jpg?alt=media&token=1578e25a-eac0-412c-9a37-64d0c122cfae") no-repeat   fixed;
    
}
*/

